header {
    color: yellow;
    text-align: center;
    font-size: 55px;
    margin-bottom: 25px;
}
p {
    text-align: left;
    color: blue;
    font-size: 49px;
    margin-bottom: 10px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: teal;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.circle1 {
    height: 50px;
    width: 50px;
    background-color: gold;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle2 {
    height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle3 {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.circle4 {
    height: 50px;
    width: 50px;
    background-color: lightblue;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle5 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle6 {
    height: 50px;
    width: 50px;
    background-color: lightpink;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.circle7 {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle8 {
    height: 50px;
    width: 50px;
    background-color: darkorange;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.circle9 {
    height: 50px;
    width: 50px;
    background-color: navy;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.circle10 {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.container {
    width: 75%;
    position: relative;
    background: hotpink;
    padding: 10px 15px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
  
  .square {
    width: 300px;
    height: 115px;
    margin-left: 400px;
    background: red;
    position: absolute;

  }



.outer-square {
    width: 75%;
    position: relative;
    background: teal;
    padding: 10px 15px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.inner-square {
    width: 315px;
    height: 210px;
    margin-left: 400px;
    background: yellow;
    position: absolute;
}

.inner-inner-square {
    width: 200px;
    height: 150px;
    margin-left: 460px;
    margin-top: 25px;
    background: purple;
    position: absolute;
}

h5 {
    font-size: large;
    margin-left: 50px;
}

ul {
    padding: 0px;
    margin-left: 25px;
}

.polaroid1-outer {
    width: 150px;
    height: 100px;
    background: green;
    margin-top: 15px;
    text-align: center;
    
}

h4 {
    margin-top: 30px;
}


